@font-face {
  font-family: Gilroy;
  src: url(./assests/gilroy.otf);
}
@font-face {
  font-family: gilroy-light;
  src: url(./assests/Gilroy-Light.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gilroy !important;
  background-color: #00b4dbac !important;
  background: linear-gradient(
    to right,
    hsl(200, 100%, 40%),
    hsl(191, 100%, 43%)
  );
}

.theme-light
{
    --background-color: #eaedf0e7;
    --icons-background-color: #e4e4e4e7;
    --options-background: #ffffff;
    --text-color-first: #000000;
    --card-background-color: #ffffff;
    --toggle-border-color: #000;
    --toggle-color: #ffffff;
    --bouncing-background-color: rgb(0, 170, 170);
    --footer-background: rgb(141, 203, 253);
    --footer-text-color-first: rgb(0, 124, 207);
}

.theme-dark
{
    --background-color: #161616;
    --icons-background-color: #575757;
    --options-background: rgb(54, 54, 54);
    --text-color-first: #cacaca;
    --card-background-color: rgb(54, 54, 54);
    --toggle-border-color: #fff;
    --toggle-color: #292929;
    --bouncing-background-color: rgb(205, 253, 255);
    --footer-background: rgb(25, 45, 134);
    --footer-text-color-first: rgb(175, 239, 255);
} 