.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  text-align: center;
  flex: none;
  position: sticky !important;
  top: 100% !important;
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0.5rem;
  align-items: center;
}
