.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 600px;
  background-color: var(--options-background);
  padding: 0.5rem 1rem;
  border-top: 5px solid dodgerblue;
  border-radius: 0.25rem;
  color: var(--text-color-first);
  transition: 0.3s;
}

.theme_text
{
    color: var(--text-color-first);
    transition: 0.5s;
}

@media (max-width: 600px) {
  .options {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }
}
.options > * {
  width: 100%;
}
.options .btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: none;
}
.options .btn:hover {
  opacity: 0.9;
}
.options .btn:focus {
  outline: 2px solid #000;
}
.inputgroup {
  font-family: Gilroy-light;
  font-weight: bold;
  letter-spacing: 0.09rem;
  /* background-color: #000; */
}

.input_container
{
    border: 1.5px solid var(--input-border);
    /* transition: 0.3s; */
    height: 40px;
    border-radius: 2px;
    transition: 0.3s;
    display: inline-flex;
    padding: 0px 11px;
    background-color: var(--input-background);
    /* max-width: 360px; */
    width: 100%;
    line-height: 1.5715;
    letter-spacing: 0.09rem;
    font-size: 16px;
    font-family: Gilroy-light;
    transition: 0.3s;
}

.input_container:hover
{
    border: 1px solid var(--input-hover-border);
    transition: 0.3s;
}

.input_container:focus-within
{
    border: 1px solid var(--input-hover-border);
    box-shadow: 0 0 0 2px var(--input-box-shadow);
    transition: 0.3s;
}

.input_container1
{
    border: 1.5px solid var(--input-border);
    /* transition: 0.3s; */
    height: 40px;
    border-radius: 2px;
    transition: 0.3s;
    display: inline-flex;
    padding: 0px 11px;
    background-color: var(--input-background);
    /* max-width: 360px; */
    width: 100%;
    line-height: 1.5715;
    letter-spacing: 0.09rem;
    font-size: 16px;
    font-family: Gilroy-light;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}

.input_container1:hover
{
    border: 1px solid var(--input-hover-border);
    transition: 0.3s;
}

.input_container1:focus-within
{
    border: 1px solid var(--input-hover-border);
    box-shadow: 0 0 0 2px var(--input-box-shadow);
    transition: 0.3s;
}

.custom_input
{
    border-color: transparent;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    transition: 0.3s;
}

.custom_input::placeholder
{
    color: var(--placeholder-text);
    transition: 0.3s;
}

.custom_input:placeholder-shown
{
    text-overflow: ellipsis;
}

.custom_input:focus
{
    border-color: transparent;
    background-color: transparent;
}

input:focus, textarea:focus, select:focus
{
    outline: none;
}

.leftIcon
{
    margin-top: 7px;
}

.counter
{
    margin-top: 9px;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: 0.09rem;
}

.tooltip
{
    margin-top: 8px;
}

.inputgroup {
  width: 100%;
  max-width: 360px;
}

.btnDiv {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-around;
}

.phone {
  height: 4rem;
}

.btnDiv .answer {
  background-color: #29bb89;
  color: #1e6f5c;
  font-weight: bold;
}

.btnDiv .decline {
  background-color: rgb(250, 30, 14, 0.75);
  color: #8c0000;
  font-weight: bold;
}
.hang {
  background-color: rgb(250, 30, 14, 0.75) !important;
  color: #8c0000 !important;
  font-weight: bold;
  margin-top: 0.5rem;
}

.share_options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}
.share_social {
  display: flex;
  /* margin-top: 1rem; */
}

.share_icon {
  display: flex;
  margin-left: 0.4rem;
}

.call_toggle_container
{
    display: flex;
    justify-content: space-between;
}

.toggle_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}